@import "tailwindcss";

:root {
  --background: #fdf8f5;
  --foreground: #1f1a17;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}